<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.1.120" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.7.25104.5739" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="nQuant" version="1.0.3" targetFramework="net48" />
</packages>